<footer>
    <p class="text-center text-muted">&copy; Copyright 2021 The Awesome People</p>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket-cli.js"></script>