
                    <div class="header-nav">
                
                        <div class="header-option">
                            <span class="header-optionLineOne">GitHub</span>
                            <span class="header-optionLineTwo">account</span>
                        </div>
                    
                        <div class="header-option">
                            <span class="header-optionLineOne">LinkedIn</span>
                            <span class="header-optionLineTwo">account</span>
                        </div>
                 
                    </div>