<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header-partial'); %>

    <body>

        <div class="root">
            <div class="App">
                <div class="header">
        
                    <img
                        class="header-logo"
                        src="/images/Twitter_Logo_Blue.png"
                    >
        
                    <%- include('../partials/navbar-partial'); %>
        
                </div>

                <div>
                    add here streams from the user <%= username %>
                </div>
            </div>
        </div>

    </body>
    <%- include('../partials/footer-partial'); %>
</html>